h1 {
  font-size: 60px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

li {
  font-size: 20px;
  text-align: left;
}

h2,
h3 {
  font-size: 25px;
  text-align: left;
    background-color: #dcdcdc;
   padding: 20px;
  width: 260px;
}
