h1 {
 font-size: 60;
 text-align: center;
  font-size: 25;
 text-align: left;
 background-color: #dcdcdc;
 padding: 20;
 width: 260;
}

p {
 font-size: 20;
 text-align: center;
  font-size: 25;
 text-align: left;
 background-color: #dcdcdc;
 padding: 20;
 width: 260;
}

li {
  font-size: 20;
 text-align: left;
  font-size: 25;
 text-align: left;
 background-color: #dcdcdc;
 padding: 20;
 width: 260;
}

h2,
h3 {
 font-size: 25;
 text-align: left;
 background-color: #dcdcdc;
 padding: 20;
 width: 260;
}
